#  Calling the dynamic library
useDynLib(tweedie, .registration = TRUE)

#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

importFrom("graphics", "abline", "lines", "plot", "points", "rug",
             "title", "axis", "mtext", "par")
importFrom("stats", "contrasts", "deviance", "dgamma", "dnorm",
             "dpois", "fitted", "glm.control", "glm.fit",
             "is.empty.model", "model.matrix", "model.offset",
             "model.response", "model.weights", "optimize", "pchisq",
             "pgamma", "pnorm", "ppois", "qchisq", "qgamma", "qpois",
             "rgamma", "rpois", "runif", "splinefun", "uniroot")
importFrom("methods", "is")

#export(call_fortran)
export(dtweedie)
export(dtweedie_saddle)
export(ptweedie)
export(ptweedie_inversion)
export(qtweedie)
export(rtweedie)
export(tweedie_dev)
export(tweedie_integrand)
export(tweedie_plot)
export(tweedie_profile)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,rug)
importFrom(methods,is)
importFrom(stats,contrasts)
importFrom(stats,deviance)
importFrom(stats,dgamma)
importFrom(stats,dnorm)
importFrom(stats,dpois)
importFrom(stats,fitted)
importFrom(stats,glm.control)
importFrom(stats,glm.fit)
importFrom(stats,optimise)
importFrom(stats,splinefun)
importFrom(stats,uniroot)
